

h1{
    background: linear-gradient(135deg, #2e7d32, #43a047);
    color: white;
    text-align: center;
     margin: 0;
}

h2{
    background: linear-gradient(135deg, #2e7d32, #43a047);
    color: white;
    text-align: center;
    margin: 0;
}   